img {
  float: left;
  max-width: 25%;
  height: auto;
}
h1 {
  color: red;
}
.conclusion {
  background-color: yellow;
  border: 10px;
  border-color: blue;
  border-style: double;
  padding: 10px;
}